name: Web E2E Tests

on:
  workflow_dispatch:

jobs:
  e2e-tests:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      - name: Node version
        run: node --version

      - name: Instalar dependências
        run: npm ci

      - name: Verificar Cypress
        run: npx cypress verify

      - name: Executar testes
        run: npx cypress run

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}  
        with: 
            name: Relatórios
            path: |
              cypress/reports
              cypress/screenshots
              cypress/videos